.sidebar{
    position:fixed;
    top:56px;
    left:0;
    height:calc(100vh - 56px);
    width:78px;
    background:white;
    padding:6px 14px;
    z-index:99;
    transition:all 0.5s ease;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sidebar.activate{
    width:200px;
  }
  .sidebar #btn{
    position:absolute;
    top:6px;
    left:50%;
    height:40px;
    width:40px;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
  }
  .sidebar.activate #btn{
    left:90%;
  }
  .sidebar ul {
    margin-top: -3px;
    margin-left: -34px;
  }
  .sidebar ul li{
    position:relative;
    height:50px;
    width:100%;
    margin:5px 0;
    list-style: none;
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar ul li .tooltip{
    position:absolute;
    left:135px;
    top:0;
    transform:translate(-50%, -50%);
    border-radius: 6px;
    height:35px;
    width:120px;
    background: white;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition:0s;
    opacity:0;
    pointer-events: none;
    display:block;
  }
  .sidebar ul li .tooltip::before{
    content:'';
    width:0;
    height:0;
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
    border-right:10px solid white;
    position:absolute;
    left:-8px;
    top:7px;
  }
  .sidebar.activate ul li .tooltip{
    display:none;
  }
  .sidebar ul li:hover .tooltip{
    transition:all 0.5s ease;
    opacity:1;
    top:50%;
  }
  .sidebar ul li .linking{
    color: #505050;
    display:flex;
    align-items:center;
    justify-content: center;
    text-decoration: none;
    border-radius: 0px 8px 8px 0px;
    transition:all 0.4s ease;
  }
  .sidebar ul li .linking:hover{
    color:#1E637E;
    background:#e0dddd;
    border-radius: 0px 8px 8px 0px;
  }
  .sidebar ul li i{
    font-size: 18px;
    font-weight: 400;
    height:50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    position: relative;
    top: 4px;
  }
  .sidebar .links_name{
    font-size: 15px;
    font-weight: 400;
    display: none;
    pointer-events: none;
    transition:all 0.3s ease;
  }
  .sidebar.activate .links_name{
    transition:0s;
    display: flex;
    pointer-events: auto;
    width: 133px;
  }
  .active{
      background-color:#e0dddd;
      border-radius: 0px 6px 6px 0px;
  }