.Annoucement-Container > .Batches-Detail{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 92vw;
    height: 16vh;
    position: relative;
    margin-top: -2%;
}
.Annoucement-Container.activate > .Batches-Detail{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 82vw;
    height: 16vh;
}
.Annoucement-Container > .Batch-Detail{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 92vw;
    height: 16vh;
    position: relative;
    margin-top: 1%;
    left: -4%;
}
.Annoucement-Container.activate > .Batch-Detail{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 82vw;
    height: 16vh;
}
.Annoucement-Container.activate > .Batches-Detail > .Batch-Dropdown > #batch-drop{
    position: absolute;
    left: 31%;
}
.Annoucement-Container.activate > .Batches-Detail > .Subject-Dropdown > #sub-drop{
    left: 62%;
}
.Exams-opt{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 41%;
    position: relative;
    top: 10%;
    left: -4%;
}
.st1-radio,.st2-radio,.PUT-radio{
    width: 12%;
}
.label-data1{
    width: 100%;
    font-family: 'Inter';
}
#field-PUT,#field-ST2,#field-ST1{
    margin-right: 7%;
}
.exbox{
    position: relative;
    top: 14%;
}
.exbox1{
    position: relative;
    left: 0;
    top: 18%;
}
.dabba1,.dabba2,.dabba3,.dabba4{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dabba1{
    width: 17.5%;
}
.dabba2{
    width: 11%;
}
.dabba3{
    width: 11%;
}
.dabba4{
    width: 23.5%;
}
.upload-btn{
    background: #1E637E;
    box-shadow: 0px 0px 30px rgb(111 141 158 / 13%);
    border-radius: 8px;
    border-style: none;
    width: 290px;
    height: 46px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.upload-btn > .Apply-text > h4{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #FFFFFF;
    margin-bottom: 18%;
}