.Annoucement-Container{
    height:calc(100vh - 56px);
    width:calc(100vw - 78px);
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.Annoucement-Container.activate{
    height:calc(100vh - 56px);
    width:calc(100vw - 200px);
    margin-left: 225px;
}

