.Date-Time-Box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 133%;
    background-color: #00A6AB;
    color: white;
    border-radius: 8px;
    border-style: none;
    padding: 5% 0%;
    position: relative;
    overflow: hidden;
    padding-right: 4%;
    margin-left: -15%;
    top: -21px;
}
.Circular-Box{
    width: 12vmax;
    height: 11vmax;
    border-left: 1px solid #F2F2F2;
    border-radius: 50%;
    position: absolute;
    top: -16px;
    right: 125px;
    border-style: none;
    background-color: #00B8BD;
}
.Time-Box{
    margin-left: 38%;
}
.Date-Box > h4, .Time-Box > h4{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
}
.Date-Box,.Time-Box{
    margin-bottom: -2%;
}