.Add-Admin{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -43%;
    cursor: pointer;
    z-index: 1;
    top: 7%;
}
::-webkit-scrollbar {
    width: 0;  
    background: transparent; 
}
.AddAdmin-Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    height: 456px;
    width: 418px;
    position: relative;
}