.Heading2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3%;
}
.Next-Button{
    padding: 38% 568%;
    cursor: pointer;
    background-color: #1E637E;
    color: white;
    box-shadow: 0px 0px 30px rgb(31 91 124 / 9%);
    border-radius: 8px;
    border-color: #1E637E;
    font-weight: 700;
    border-style: none;
}
.para2 {
    width: 109vh;
    position: relative;
    left: 108px;
    top: -20px;
}
@media (max-width:452px){
    
    .Next-Button{
        padding: 35% 474%;
    }
    .para2{
        left: 142px;
    top: -26px;
    font-size: 12px;
    }
    
}