.Heading2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3%;
}
.Next-Button{
    padding: 38% 511%;
    cursor: pointer;
    background-color: #1E637E;
    color: white;
    box-shadow: 0px 0px 30px rgb(31 91 124 / 9%);
    border-radius: 8px;
    border-color: #1E637E;
    font-weight: 700;
    border-style: none;
}
.para2 {
    font-family: 'Ubuntu', sans-serif;
}
@media (max-width:452px){
    
    .Next-Button{
        padding: 35% 369%;
    }
    .Heading2{
        top: 8%;
    }
    .para2{
        
    font-size: 11px;
   
    }
    .Login-Box{
        width: 94vw;
    }
    
}
/* @media (max-width:411px){
    .para2{
        left: 180px;
        font-size: 14px;
    }
} */