.Admin-Container > .Batches-Details{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 92vw;
    height: 16vh;
    position: relative;
    margin-top: 1%;
}

.Admin-Container.activate > .Batches-Details{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 82vw;
    height: 16vh;
}

select{
    padding: 14px 24px;
    width: 300px;
    height: 48px;
    background: #F7F7F7;
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}
option{
    background: #F7F7F7;
    box-shadow: 0px 0px 8px rgba(161, 157, 157, 0.15);
}
#year-drop{
    position: absolute;
    left: 0;
    transition: all ease-in;
}
#year-drop:hover{
    border-style: solid;
    border: 1px solid #007BAB;
}
#batch-drop{
    position: absolute;
    left: 28%;
    transition: all ease-in;
}
#batch-drop:hover{
    border-style: solid;
    border: 1px solid #007BAB;
}
.Admin-Container.activate > .Batches-Details > .Batch-Dropdown > #batch-drop{
    position: absolute;
    left: 31%;
}
.Apply-Button{
    background: #136180e1;
    box-shadow: 0px 0px 30px rgb(111 141 158 / 13%);
    border-radius: 8px;
    border-style: none;
    width: 77px;
    height: 48px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 47%;
    position: absolute;
    left: 57%;
}
.Apply-Button > .Apply-text > h4{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #FFFFFF;
}
.Apply-text,.Batch-text{
    margin-bottom: -5%;
}
.Admin-Container.activate > .Batches-Details > .Apply-Button {
    background: #136180e1;
    box-shadow: 0px 0px 30px rgb(111 141 158 / 13%);
    border-radius: 8px;
    border-style: none;
    width: 77px;
    height: 48px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 47%;
    position: absolute;
    left: 63%;
}
.Add-Batch{
    background: white;
    border: 2px solid #1E637E;
    box-sizing: border-box;
    border-radius: 8px;
    width: 112px;
    height: 48px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 47%;
    position: absolute;
    left: 73%;
}
.Add-Batch > .Batch-text > h4{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #1E637E;
}
.Admin-Container.activate > .Batches-Details > .Add-Batch {
    background: white;
    border: 2px solid #1E637E;
    box-sizing: border-box;
    border-radius: 8px;
    width: 112px;
    height: 48px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 47%;
    position: absolute;
    left: 81%;
}
.Add-Student{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 12%;
    left: -43%;
    cursor: pointer;
    z-index: 999;
}
.Add-Student-text > h4{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #007BAB;
}
.Add-Student-text{
    margin-bottom: -4%;
}
.Student-Info-Table{
    position: relative;
    top: 6%;
}
tr:hover {
    background: #F7F7F7 !important;
  }

