.Annoucement-Container.activate > .Personal-year {
    width: 89vw;
}
.Annoucement-Container.activate > .Personal-year > .Personal-info{
    width: 61vw;
}
.Annoucement-Container.activate > .Personal-year > .Personal-info > .Year-info{
    left: 71%;
}
.Annoucement-Container.activate > .Additional-Attendance {
    width: 89vw;
}
.Annoucement-Container.activate > .Additional-Attendance > .Additional-info{
    width: 61vw;
}
.Annoucement-Container.activate > .Additional-Attendance > .Attendance-info{
    left: 71%;
}
.Year-info, .Attendance-info{
    width: 17vw;
    height: 220px;
    top: 0px;
    background: #FFFFFF;
    border: 2px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 76%;
}
.Personal-info,.Additional-info{
    width: 66vw;
    height: 220px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 2px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 8px;
}
.Personal-year, .Additional-Attendance{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 32px;
    width: 91vw;
    position: relative;
}
.Personal-year.activity, .Additional-Attendance.activity{ 
    margin-top: 8px;
}
.Personal-details{
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.Personal-detail-heading,.Additional-Info-heading{
    position: absolute;
    left: 4%;
    margin-top: 1%;
}
.Additional-Info-heading{
    left: 3%;
}
.Personal-detail-heading,.Additional-Info-heading > h5 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #1E637E;
}
#Avatar-img{
    height: 130px;
    width: 130px;
    margin-top: 6%;
    position: absolute;
    left: 2%;
}
.Student-Details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    left: 22%;
    margin-top: 3%;
    width: 30vw;
}
.Student-Details > .Name,.Email,.Roll-Number,.Mobile,.Branch > h6{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
.Circular-design{
    border-left: 1px solid #F2F2F2;
    border-radius: 50%;
    position: absolute;
    border-style: none;
    background-color: #1E637E;
    height: 17.5vmax;
    top: 0;
    left: 85%;
    margin-top: 0%;
    width: 19vmax;
}
.Info{
    display: flex;
    height: 220px;
}
.Additional-info,.Additional-personal-details{
    display: flex;
    flex-direction: column;
}
.Father-info,.Mother-info,.Address-info{
    display: flex;
    justify-content: space-between;
}
.Father-name,.Mother-name,.Address-name{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.Additional-personal-details{
    display: flex;
    align-items: center;
    flex-direction: row;
    position: absolute;
    left: 3%;
    width: 41vw;
    margin-top: 2%;
    height: 34vh;
    justify-content: space-between;
}
.Info-Heading,.Info-Details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.Father-info,.Mother-info,.Address-info{
    width: 100%;
}

.Father-name,.Mother-name,.Address-name,.AddressName-Heading,.MotherName-Heading,.FatherName-Heading > h5{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
.Year-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.year-number{
    display: flex;
    z-index: 22;
    position: relative;
    top: -6%;
    left: 13%;
}
.year-number > h5 {
    position: relative;
    top: 36%;
    left: 16%;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #1E637E;
}
.year-number > h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: #1E637E;
}
.Semester-year{
    position: relative;
    top: -25%;
}
.circular-year{
    border-left: 1px solid #F2F2F2;
    border-radius: 50%;
    border-style: none;
    background: radial-gradient(132.5% 132.5% at 50% 50%, #D8F3FF 0%, rgba(206, 240, 255, 0) 60.71%);
    height: 8vmax;
    width: 8vmax;
    position: absolute;
}
.Semester-year,.Attendance-heading > h5{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #1E637E;
}
.Attendance{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Attendance-circular-bar{
    position: relative;
    top: -9%;
}
.Attendance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 11vw;
    position: relative;
    left: 20%;
    top: 2%;
}


/* Student Edit Profile */

.Modal-box-2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
	width: 100vw;
	height: 100vh;
	display: flex;
    z-index: 999;
    overflow-x: hidden;
    overflow-y: hidden;
}

.Student-Form{
    background-color: white;
    height: 94vh;
    width: 40vw;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

::-webkit-scrollbar {
    width: 0;  
    background: transparent; 
}
.Student-Form-Heading{
    margin-top: 95%;
    margin-bottom: 6%;
}

#branch-drop{
    margin: 8% 0%;
}
.Button-update-3{
    margin-bottom: 3%;
}
.cross-icon-1{
    position: absolute;
    top: 3%;
    right: 6%;
    cursor: pointer;
}
.EditDetails-bt{
    display: flex;
    width: 10%;
    justify-content: space-around;
    align-items: baseline;
    position: relative;
    top: 3%;
    left: 1%;
    cursor: pointer;
}