.Login-Button5{
    padding: 21% 261%;
    cursor: pointer;
    background-color: #1E637E;
    color: white;
    box-shadow: 0px 0px 30px rgba(31, 91, 124, 0.089);
    border-radius: 8px;
    border-color: #1E637E;
    font-weight: 700;
    border-style: none;

}
.type-box1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}
@media (max-width:452px){
    .Login-Button5{
        padding: 21% 211%;
    }
    .Login-Button4{
        padding: 21% 239%;
    }
}