.Admin-Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    height: 564px;
    width: 800px;
}
.Admin-Input,.combine-input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.input-field-form,.input-field-form1,.input-field-form2{
    background-color: #F7F7F7;
    padding: 1.5%;
    border-style: none;
    padding-left: 5%;
}
.Admin-Details-Update{
    padding: 18% 282%;
    cursor: pointer;
    background-color: #1E637E;
    color: white;
    box-shadow: 0px 0px 30px rgba(31, 91, 124, 0.089);
    border-radius: 8px;
    border-color: #1E637E;
    font-weight: 500;
    border-style: none;
}
.Button-update{
    margin-top: 2%;
}
#emailicon1{
    z-index: 99;
    position: relative;
    left: 7%;
}
.input-field-form1{
    padding-left: 10%;
}
.Input-detail1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Admin-Form-Heading > h2 {
    margin-bottom: 14%;
}
.cross1{
    position: fixed;
    top: 4%;
    left: 79%;
    cursor: pointer;
}
.input-field-form2{
    padding-left: 0%;
    text-align: center;
}