.timeline{
    width: 30vw;
    height: calc(100vh - 56px);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
::-webkit-scrollbar {
    width: 0;  
    background: transparent; 
}
.vertical-timeline{
    width: 30vw;
    height: calc(100vh - 120px);
    position: relative;
    overflow-y: scroll;
}
.vertical-timeline ul{
	list-style: none;
}

.line{
    position: absolute;
    width: 2px;
    height: calc(77vh - 56px);
    background-color: #DFDFDF;
    left: 77.5%;
    top: 0;
    transform: translateX(-50%);
    z-index: 0;
    margin-top: 11%;
}
.vertical-timeline ul li{
	width: 50%;
    height: auto;
    padding: 6px 1px;
    border-radius: 10px;
    margin-bottom: 30px;
    z-index: 99;
    position: relative;
    left: 24%;
}
.vertical-timeline ul li .circle{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	z-index: 99;
}
.vertical-timeline ul li .circle::after{
	content: ' ';
	width: 15px;
	height: 15px;
	background: #1E637E;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.vertical-timeline ul li:nth-child(odd) .circle{
	right: -30px;
    transform: translate(-686%, 9%);
}
.vertical-timeline ul li:nth-child(even) .circle{
	right: -30px;
    transform: translate(-686%, 9%);
}
.timeline-heading{
    margin-bottom: 4%;
    margin-top: 2%;
}
.timeline-heading > h2 {
    position: relative;
    left: -31%;
}
.Holiday-Container{
    height:calc(100vh - 56px);
    width:calc(100vw - 78px);
    margin-left: 78px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Holiday-Container.activate{
    height:calc(100vh - 56px);
    width:calc(100vw - 200px);
    margin-left: 200px;
}
.Holidays-calendar{
    width: 65vw;
    height: calc(100vh - 56px);
    margin-left: 2%;
    display:flex;
    flex-direction: column;
}
.Calendar{
    position: relative;
    top: 22%;
    left: 53%;
}
